// ========== config

// colours
$blue-1: #4238AF; /* Panels and Menus */
$blue-2: #332B8F; /* Panels and Menus */
$blue-3: #140D5D; /* Panels and Menus */
$lightblue: #8E84FF; /* Lines and Icons */
$darkgrey: #2C2C2C; /* Panels and Copy */
$simplegrey: #696969; /* Panels and Copy */
$beige-1: #F5F0EC; /* Background */
$beige-2: #EFE8E2; /* Mobile Background */
$beige-3: #E0DCD9; /* Headline Dividers */
$red-active: #E16969; /* Map pin */

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 0px;
}

@media only screen and (max-width: 480px) {
  [class*="col-"] {
      width: 100%;
  }
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.flex {
  display: flex;
}
