// ========= mixins

// .clearfix {
//     @include clearfix();
// }
//
// .zoltan {
//     @include clearfix();
// }
//
// .ben {
//     @include clearfix();
// }

// clearfix example: .element { @include clearfix(); }
@mixin clearfix() {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}
