/////////// Latest archives section except slider css

.archives_section {
  background-color: $beige-1;
}

.latest_archives {
  background-color: $beige-1;
  font-size: 32px;
  color: black;
}

.latest_archives_headlines {
  background-color: $beige-1;
  font-family: $trade-gothic-light;
  font-size: 28px;
  text-align: center;
  color: $darkgrey;
  height: 50px;
  line-height: 50px;
  margin-top: 0px;
}

.latest_archives {
  background-color: $beige-1;
  font-size: 32px;
  color: black;
}

.latest_archives_headlines {
  background-color: $beige-1;
  text-align: center;
  color: black;
}
