///////// Comminity and Person of the day sections
@media only screen and (min-width: 760px) {

    .communityandpersonsections {
        position: relative;
        background-color: $blue-1;
        // overflow: auto;
    }
    .community_latestnews {
        // position: absolute;
        float: left;
        width: 50%;
    }
    .personofday {
        // position: absolute;
        float: right;
        width: 50%;
    }
}

.communityandpersonsections {
    background-color: $blue-1;
}

.community_latestnews {
  // background-color: $blue-1;
  color: white;
  margin: 0px;
}
.community_latestnews_headline {
  // background-color: $blue-1;
  color: white;
  margin: 0px;
  text-align: left;
  font-family: $trade-gothic-heavy;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  max-width: 10%;
}

.section_title {
     width: 150px;
}

.community_latestnews {
  // background-color: $blue-1;
  color: white;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
}

.community_latestnews_headline > a {
    color: white;
    text-decoration: none;
}
.community_latestnews > a {
    color: white;
    text-decoration: none;
}

.latestarticles {
    border-top: 1px solid;
    border-color: $lightblue;
}

.latestarticles h4 {
    font-size: 24px;
    font-family: $trade-gothic-light;
    font-weight: 300;
}

.latestarticles h4 a {
    color: white;
}

.purplecolor {
    color: $lightblue;
}

.personofday {
  position: relative;
  // background-color: $blue-1;
  color: white;
  padding: 20px;
}
.arnold {
    position: absolute;
    right: 15px;
    top: 10px;
    padding-top: 30px;
    overflow: hidden;
    width: calc(50% - 20px);
    // height: 189px;
}
.arnoldslife {
    font-family: $source-sans-pro-regular;
    font-size: 16px;
}
.purplebox {
    background-color: $darkgrey;
    margin-top: 20px;
    margin-right: 60px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 20px;

    @media only screen and (min-width: 480px) {
        margin-top: 20px;
        margin-right: 80px;
        padding-top: 40px;
        padding-left: 60px;
        padding-bottom: 45px;
        padding-right: 120px;
        max-width: 63%;
    }
}

.browsearchive {
    @media only screen and (max-width: 480px) {
      display: none;
      visibility: hidden;
  }

    @media only screen and (min-width: 480px) {
        display: block;
        visibility: visible;
        margin-left: 50%;
        //here come the buttons CSS later
        font-family: $trade-gothic-light;
        border: 2px solid #e7e7e7;
        background-color: white;
        color: $darkgrey;
        padding: 15px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 24px;
        opacity: 100%;
        margin-top: 20px;
        margin-bottom: 40px;
    }
}

.morepeoplebutton {
    font-family: $trade-gothic-light;
    border: 1px solid $lightblue;
    background-color: $blue-1;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    opacity: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 95%;

    @media only screen and (min-width: 480px) {
        width: 60%;
    }
}
