// // ========== fonts

// Font - fontname
$folder: '../fonts/';

@mixin webfont($family, $fontname) {
    font-family: "#{$family}";
    src: url("#{$folder}/#{$fontname}.eot");
    src: local('☺︎'),
         url("#{$folder}/#{$fontname}.eot?#iefix") format("embedded-opentype"),
         url("#{$folder}/#{$fontname}.woff") format("woff"),
         url("#{$folder}/#{$fontname}.woff2") format("woff2");

    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    @include webfont("Trade Gothic Condensed", TradeGothicLT-CondEighteen);
    font-weight: 300;
}

@font-face {
    @include webfont("Trade Gothic", TradeGothicLT-BoldCondTwenty);
    font-weight: 700;
}

@font-face {
    @include webfont("Source Sans Pro Italic", Source-Sans-Pro-italic);
    font-style: italic;
    font-weight: 300;
}

@font-face {
    @include webfont("Source Sans Pro Regular", Source-Sans-Pro-regular);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    @include webfont("Source Sans Pro Italic 700", Source-Sans-Pro-700italic);
    font-weight: 700;
}

@font-face {
    @include webfont("Source Sans Pro 700", Source-Sans-Pro-700);
    font-weight: 700;
}

// Font families
$trade-gothic-heavy: "Trade Gothic", sans-serif;
$trade-gothic-light: "Trade Gothic Condensed", sans-serif;
$source-sans-pro-italic: "Source Sans Pro Italic", sans-serif;
$source-sans-pro-regular: "Source Sans Pro Regular", sans-serif;
$source-sans-pro-italic700: "Source Sans Pro Italic 700", sans-serif;
$source-sans-pro-700: "Source Sans Pro 700", sans-serif;

////////////////////

body {
    margin: 0;
    padding: 0;
    font-family: $source-sans-pro-regular;
}
h1 {
    color: white;

    @media only screen and (min-width: 480px) {
        color: white;
    }

    @media only screen and (min-width: 768px) {
        color: white;
    }
}
h1, h2, h3, h4 {
    font-family: $trade-gothic-light;
}
h2 {
    font-size: 28px;
}
p {
    font-family: $trade-gothic-light;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    //display: inline;
}
