/////////// Footer and Social buttons
.footer {
  background-color: $beige-1;
}
.socialbuttons {
  background-color: $beige-1;
}
.socialbutton_image {
    margin-left: 10%;
}
.footerlinks {
  background-color: $beige-1;
}
.footernavigation {
  background-color: $beige-1;
}
.footernav {
  background-color: $beige-1;
}
.navlink_li {
  font-family: $trade-gothic-light;
  font-size: 19px;
  // background-color: white;
}
.footer {
  background-color: $beige-1;
}
.socialbuttons {
  background-color: $beige-1;
}
.socialbutton_image {
    margin-left: 10%;
}
// .footerlinks {
//   background-color: $beige-1;
// }
// .footernavigation {
//   background-color: $beige-1;
// }
// .footernav {
//   background-color: $beige-1;
// }
// .footer__navlink_li {
//   font-family: $trade-gothic-light;
//   font-size: 19px;
//   background-color: white;
//   color: black;
// }
