///////// Main section and header

.header {
  background-color: white;
}

.main_section {
  background-color: $blue-1;
  position: relative;
}

.main_section_image {
  // background-image: url("../images/main-img.jpg");
  // position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  padding: 0px;
  overflow: hidden;
  width: 66.66%;
  height: 50vh;

  @media only screen and (max-width: 480px) {
      width:100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50%;
      width: 100%;
      padding: 0px;
      height: 50vh;
      overflow: hidden;
      padding: 0px;
  }

  @media only screen and (min-width: 480px) {
      color: white;
  }

  @media only screen and (min-width: 768px) {
      color: $darkgrey;
  }

}

.main_section_sidebar {
  background-color: transparent;
  position: relative;
  float: right;
  height: 100%;
}

.main_section_headline {
  background-color: $darkgrey;
  color: white;
  margin: -70px 20px 20px 20px;
  padding: 30px;
}

.main_section_headline > h1 {
    font-family: $trade-gothic-heavy;
    text-transform: uppercase;
    font-size: 42px;
    //line-height: 42px;
}

.main_section_headline > a {
    font-family: $trade-gothic-light;
    font-size: 19px;
}

.main_section_headerlink {
  font-family: $trade-gothic-light;
  background-color: transparent;
  color: white;
  padding-left: 15%;
  padding-right: 5%;
  font-size: 19px;

    @media only screen and (min-width: 480px) {
        padding-left: 25%;
    }

}

.main_section_textinheader {
  font-family: $trade-gothic-light;
  font-size: 19px;
  color: white;
}

@media only screen and (max-width: 480px) {
  [class*="col-"] {
      width: 100%;
  }
}

@media only screen and (max-width: 480px) {
    .main_section_image {
      width:100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50%;
      width: 100%;
      padding: 0px;
      height: 50vh;
      overflow: hidden;
      padding: 0px;
    }
}

@media only screen and (min-width: 480px) {
    .main_section_sidebar {
        background-color: transparent;
        position: absolute;
        float: right;
        max-height: 80%;
        top: 25%;
        left: 60%;
        max-width: 60%;
        padding-right: 1%;
        }

    .main_section_image {
        width: 66.66%;
        height: 100vh;
    }
}

/////////// Main section and header
