.slider {

    background-color: $beige-1;

    // @media only screen and (max-width: 480px) {
    //     visibility: hidden;
    //     display: none;
    // }

}
//
// .sliderblock {
//
//     background-color: white;
//     padding: 3%;
//     margin: 1%;
//     width: 320px;
//
//     @media only screen and (min-width: 480px) {
//         min-width: 30%;
//         max-width: 30%;
//         // height: 660px;
//         padding: 2%;
//         margin: 1%;
//     }
// }
//
//
// .slick-slide {
//     max-width: 300px;
//     // height: 400px;
//     padding: 5px;
//     margin: 2%;
//     margin-left: 15px;
// }

.sliderblock {
    background-color: white;
}
