//////// Sponsor section and sponsor images

.sponsor_section {
  background-color: $beige-1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sponsor_section_headline {
    text-align: center;
    margin-top: 0px;
    padding-top: 20px;
}

.sponsor_image {
  padding: 0 5px;
  width: 120px;
  height: 40px;
}
