////////// Top Navigation and Menu

.nav {
    .js & {

        @media only screen and (max-width: 768px) {
            display: none;
        }
    }

    &.is-active {

        @media only screen and (max-width: 768px) {
            display: block;
        }
    }
}

.navlink_li {

    @media screen and (min-width: 480px) {
        background: white;
        color: black;
    }

    @media screen and (max-width: 480px) {
        background: $blue-1;
        color: white;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 40px;
        border: solid;
        border-width: 1px;
        border-color: $blue-3;
    }
}

.navlink_li a {
    color: white;

    @media screen and (min-width: 480px) {
        color: black;
    }
}

.header {
    @include clearfix();

    position: relative;

    @media only screen and (max-width: 480px) {
        padding: 0px 0px 0px;
    }

    @media only screen and (min-width: 1000px) {
        padding: 20px 20px 10px 25px;
    }
}

.topnav {
    background-color: white;
    color: black;

    &__list {

        @media only screen and (max-width: 480px) {
            background-color: $blue-1;
        }

        @media only screen and (min-width: 480px) {
            background-color: transparent;

            //
            padding: 0;
            margin: 30px 0 0 0;
            @include clearfix();
            float: left;
        }

        &--first {
            // padding-top: 20px;

            @media only screen and (min-width: 480px) {
                // margin-top: 25px;
            }
        }

        &--last {

            @media only screen and (min-width: 480px) {
                float: right;
            }
        }

        li {

            @media only screen and (min-width: 480px) {
                float: left;
                margin-left: 10px;
                margin-right: 10px;
                vertical-align: bottom;
            }
        }
    }
}

.logo {
    display: inline-block;

    @media only screen and (min-width: 1000px) {
        float: left;
    }

    &__image {
        display: block;
        width: 110px;

        @media only screen and (min-width: 1000px) {
            width: 133px;
        }

        @media only screen and (max-width: 480px) {
            width: 133px;
            margin-top: 10px;
            margin-bottom: 8px;
            margin-left: 15px;
            margin-right: 15px
        }
    }
}

.nav-toggle {
    float: right;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    margin-right: 10px;

    @media only screen and (min-width: 480px) {
        display: none;
    }
}

.uniofleedstopnav {

    @media only screen and (max-width: 480px) {
        display: none;
    }

    @media only screen and (min-width: 480px) {
        margin-top: -20px;
    }
}
.searchicon {

    @media only screen and (max-width: 480px) {
        display: none;
    }

    @media only screen and (min-width: 480px) {
        // margin-top: -20px;
    }
}
.sandwichicon {
    display: inline-block;
    margin-bottom: -10px
}

.menutext {
    font-family: $trade-gothic-heavy;
    font-size: 14px;
    font-weight: bold;
}
.menuicon {
    width: 35px;
    height: 2px;
    background-color: $darkgrey;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: 5px;
    margin-left: 5px;
}
